body{
	background-color:#24221d;
}
h1 {
  color: red;
  background-color: #4f2c6e;
  text-align: center;

  width: 200px;
  height: 50px;
  line-height: 50px;
  border-radius: 10%;
  margin: 10px auto; 
}
h2{
	color: white;
}

p{
	color: white;font-weight:900;
}
ul{
	
	color:yellow;
	
}
ol{
	color:yellow;
	
}
table{
	color:yellow;
}
selector{
	border-color:yellow;
	
}
th{
	color: white;
}
.mytable,tr,th,td{border:1px solid red;}

